body {
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

h1 {
  color: rgb(85, 86, 89);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #9aa0a6;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
  margin-top: auto;
  position: relative;
  left: 80%;
}

.weather-temperature img {
  position: relative;
  left: 80%;

  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(85, 86, 89);
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  left: 200%;
}

.weather-temperature .units {
  position: relative;
  color: rgb(85, 86, 89);
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(85, 86, 89);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 25px;
  text-align: center;
  color: rgb(85, 86, 89);
}

.forecast-date {
  font-size: 16px;
  opacity: 0.6;
  text-align: center;
}

.forecast-temperature {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.form-control {
  border-radius: 15px;
  background-color: #d8d7d7e3;
}

.btn {
  border-radius: 15px;
  padding: 10px auto;
}

.weather-forecast {
  line-height: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #9aa0a6;
  border-radius: 8px;
  border-top: solid;
  border-color: #3d3d3d;
}

.current-details {
  position: relative;
  right: 110%;
}

.units {
  position: relative;
  left: 200%;
}
